h1 {
  text-align: center;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}
div[class*="card-"] {
  border: solid black 1px;
  /* flex-grow: ; */
  list-style: none;
  height: 170px;
  width: 140px;
  margin: 10px 0;
}
img {
  height: 100%;
  width: 100%;
}
.my_button {
  display: none;
}
.disable-pick-card {
  pointer-events: none;
}
.hide {
  visibility: hidden;
}
.match {
  border: solid 2px limegreen;
}
.unmatch {
  border: solid 3px red;
}
